@charset "utf-8";

@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
@import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);

.nanummyeongjo * {
    font-family: 'Nanum Myeongjo', serif;
}
/* 초기값, 공통요소(제목, 버튼, 폰트스타일), 웹폰트 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
li{
    list-style: none;
    font-family: 'NanumSquare';
    font-weight: 700;

}
body{
    color: #333;
    line-height: 1;
    min-width: 1440px;
}

/* 공통 스타일 */
.inner{
    width: 1440px;
    margin: 0 auto;
}
.title{
    margin-bottom: 40px;
}
.title h3{
    font-size: 50px;
    margin-bottom: 16px;
}
.title p{
    font-size: 18px;
}
.btn li{
    height: 40px;
    line-height: 40px;
    background-color: #bb2649;
    color: #fff;
    padding: 0 18px;
    border-radius: 40px;
    display: inline-block;
}
.btn li:hover{
    color: #333;
    background-color: #fff;
    border: 1px solid #bb2649;
}
.swiper{
    width: 100%;
    height: 100%;
}
h3{
    font-family: 'NanumSquare';
    font-weight: 700;
}
p{
    font-family: 'Nanum Myeongjo';
    font-weight: 400;
}
h4{
    font-family: 'NanumSquare';
    font-weight: 700;
}
dt{
    font-family: 'NanumSquare';
    font-weight: 700;
}
dd{
    font-family: 'Nanum Myeongjo';
    font-weight: 400;
}
