@charset "utf-8";
@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}
@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 700;
    src: url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
    src: url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype')
}
@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 300;
    src: url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
    src: url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype');
}
.nanumbarungothic * {
    font-family: 'NanumBarunGothic', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
li{
    list-style: none;
}
body{
    color: #333;
    line-height: 1;
    font-family: 'NanumBarunGothic';
    font-weight: 400;
    background-color: #f2f2f2;
    /* 커서 바꿀때는 바디태그에 적어놓으면 좋음 전체영역에서 다 작동해야되니까 */
    /* cursor: url('../img/cursor_point/cursor_basic.png'), auto; */
}
/* 검색창 */
.search{
    position: relative;
    width: 200px;
}
.search input{
    width: 100%;
    border: 1px solid #bbb;
    border-radius: 20px;
    padding: 10px 12px;
    font-size: 14px;

}
.search img{
    position : absolute;
    width: 17px;
    top: 10px;
    right: 12px;
    margin: 0;
}
/* 검색창 */
/* header */
header .inner{
    display: flex;
    justify-content: space-between;
    width: 1440px;
    margin: 0 auto;
    height: 120px;
    align-items: center;
}
header .inner ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .inner nav ul li{
    font-size: 25px;
    margin: 0 70px;/* 여백 설정해줄떈 항상 양쪽으로
                      한쪽으로 지정하면 나중에 치우쳐짐 */
}
header .inner nav ul li a{
    display: flex;
    align-items: center;
}
/* header end */
.main_visual{
    width: calc(100% - 150px);
    height: 100%;
    overflow: hidden;
    border-radius: 20px;
    margin: 0 auto;
}
/* .main_visual end */
/* cont01 */
.cont01{
    width: 1440px;
    margin: 0 auto;
}
.cont01 h1{
    font-size: 30px;
    margin-top: 100px;
}
.cont01 .swiper{
    margin-top: 50px;
    width: 1440px;
    padding-top: 50px;
    padding-bottom: 50px;
    height: 100%;
    background-color: #e4e4e4;
    border-radius: 20px;
}
.cont01 .swiper-slide{
    background-position: center;
    background-size: cover;
    width: 342px;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    border-radius: 20px;
}
.cont01 .swiper-slide img{
    display: block;
    width: 100%;
}
/* cont01 end */
/* cont02 */
.cont02{
    width: 1440px;
    margin: 0 auto;
}
.cont02 h1{
    font-size: 30px;
    margin-top: 100px;
}
.cont02 .swiper{
    margin-top: 50px;
    width: 1440px;
    padding-top: 50px;
    padding-bottom: 50px;
    height: 600px;
    background-color: #e4e4e4;
    border-radius: 20px;
    
}
.cont02 .swiper-slide{
    background-position: center;
    background-size: cover;
    width: 342px;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    border-radius: 20px;
    position: relative;
}
.cont02 .swiper-slide img{
    width: 100%;
    display: block;
    height: auto;
}
.cont02 .textbox {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 15%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #000;
  }  
.cont02 .swiper-slide:hover .textbox {
    opacity: 0.7;
}  
.cont02 .address{
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 12px;
    left: 15px;
    line-height: 1.3;
    border-radius: 20px;
}
/* cont02 end */
/* cont03 */
.cont03 .title{
    width: 1440px;
    margin: 0 auto;
}
.cont03 .title h1{
    font-size: 30px;
    margin-top: 100px;
}
.cont03 .title .inner{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 50px;
}
.cont03 .title .inner .item_box{
    width: 342px;
    height: 470px;
    background-color: #e4e4e4;
    border-radius: 20px;
}
.cont03 .title .inner .item_box p{
    font-size: 30px;
    text-align: center;
    padding-top: 30px;
}
.cont03 .title .inner .item_box h2{
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    padding: 15px 0 30px;
}
.cont03 .title .inner .item_box .image_box{
    width: 342px;
    height: 342px;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
    object-fit: cover;
}
.cont03 .title .inner .item_box .image_box img:hover{
    transform: scale(1.2);
    transition: 0.7s;
}
/* cont03 end */
/* conr04 */
.cont04{
    width: 1440px;
    margin: 0 auto;
}
.cont04 h1{
    margin-top: 100px;
    font-size: 30px;
}
.cont04 .swiper {
    width: 100%;
    height: 100%;
    padding-bottom: 100px;
}
.cont04 .swiper-slide {
    margin-top: 50px;
    background: #fff;
    border-radius: 50%;
    overflow: hidden;
    

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.cont04 .swiper-slide img {
    display: block;
    width: 100%;
    height: 464px;
    object-fit: cover;
}
.cont04 .textbox {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 464px;
    width: 464px;
    opacity: 0;
    transition: .5s ease;
    background-color: #000;
  }  
.cont04 .swiper-slide:hover .textbox {
    opacity: 0.7;
}  
.cont04 .item{
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 464px;
    width: 100%;
    text-align: center;
}
.cont04 .swiper-button-next, .cont04 .swiper-rtl .swiper-button-prev{
    right: 40%;
}
.cont04 .swiper-button-prev, .cont04 .swiper-rtl .swiper-button-next{
    left: 40%;
}
.cont04 .swiper-button-next, .cont04 .swiper-button-prev{
    top: 97%;
}
.cont04 .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
    width: auto;
    left: 50%;
    transform: translate(-50%);
}
/* cont04 end */
/* footer */
.footer{
    background-color: #202020;
    
    height: 200px;
    margin-top: 100px;
}
.footer .inner{
    width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer .inner img{
    width: 243px;
    height: 71px;
}
.footer .inner ul{
    margin-top: 40px;
}
.footer .inner ul li{
    font-size: 15px;
    color: #fff;
    margin-top: 22px;
}
/* footer end */


.sideBanner {
    position: absolute;
    width: 100px;
    height: 200px;
    top: 50%;
    right: 10px;
    background-color: #f2f2f2;
    color: #fff;
    border-radius: 20px;
}
.sideBanner .join_us{
    margin: 10px 0 0 15px;
}
.sideBanner .join_us img{
    width: 60px;
    height: 60px;
}
.sideBanner .in_store{
    margin: 50px 0 0 15px;
}
.sideBanner .in_store img{
    width: 60px;
    height: 60px;
  }