@charset "utf-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
body{
    line-height: 1;
    color: #000;
    background-color: f6f5ef;
}
        /* header */
        header{
            width: 100%;
            position: fixed;
            height: 100px;
            top: 0;
            left: 0;
            z-index: 1;
            
        }
        header .inner{
            display: flex;
            justify-content: space-between;
            width: 1440px;/* width: calc(100% - 180px);계산기 수식 앞뒤로 띄어쓰기 넣어야됨 */
            margin: 0 auto;
            height: 100px;
            align-items: center;
        }
        header .inner h1 a img{
            height: 100%;
            width: 230px;
        }
        header .inner ul{
            display: flex;
            align-items: center;
        }
        header .inner nav ul li{
            font-family: 'Noto Sans KR', sans-serif;
            font-size: 18px;
            margin: 0 40px;/* 여백 설정해줄떈 항상 양쪽으로
                              한쪽으로 지정하면 나중에 치우쳐짐 */
        }
        header .inner nav ul li a{
            display: flex;
            align-items: center;
        }
        .sidebanner {
            position: absolute;
            width: 100px;
            height: 400px;
            top: 30%;
            right: 3%;
            border-radius: 20px;
            z-index: 1;
        }
        .sidebanner div{
            margin: 25px 0 0 25px;
        }
        .sidebanner div a img{
            width: 50px;
            height: 50px;
        }

        /* .main visual */
        .main_visual .youtube_1{
            width: 1440px;
            margin: 100px auto;
            
        }
        .main_visual .youtube_1 .youtube{
            width: 100%;
            padding-bottom: 56.25%;
            /* 유튜브 영상 비율 16:9 */
            /* padding-bottom: 56.25%; 16:9비율로 밑으로 영역 확장해주는 역할*/
            position: relative;
        }
        .main_visual .youtube_1 iframe{
            width: 100%;/* 좌우 여백이 생김 */
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 20px;
        }
        /* .cont01 */
        .cont01 .inner{
            width: 1440px;
            height: 324px;
            margin: 0 auto;
        }
        .cont01 .inner h3{
            margin-top: 100px;
            font-family: 'Noto Sans KR', sans-serif;
            font-size: 40px;
        }
        .cont01 .inner .list{
            display: flex;
            justify-content: space-between;
            margin-top: 50px;
        }
        /* .cont02 */
        .cont02 .inner{
            width: 1440px;
            height: 324px;
            margin: 0 auto;
        }
        .cont02 .inner h3{
            margin-top: 100px;
            font-family: 'Noto Sans KR', sans-serif;
            font-size: 40px;
        }
        .cont02 .inner .list{
            display: flex;
            justify-content: space-between;
            margin-top: 50px;
        }
        .cont02 .inner .list .item div{
            position: relative;
            color: #fff;
        }
        .cont02 .inner .list .item div p{
            font-family: 'Noto Sans KR', sans-serif;
            font-size: 24px;
        }
        .cont02 .inner .list .item div h1{
            font-family: 'Noto Sans KR', sans-serif;
            font-size: 18px;
            margin-top: 15px;
        }
        .cont02 .inner .list .item div div{
            margin: 130px 0 0 30px;
            top: 0; 
            left: 0;
            position: absolute;/* 부모한테 감 */
        }
        /* .cont03 */
        .cont03 .inner{
            width: 1440px;
            
            margin: 0 auto;
        }
        .cont03 .inner h3{
            margin-top: 100px;
            font-family: 'Noto Sans KR', sans-serif;
            font-size: 40px;
        }
        .cont03 .inner .youtube_1{
            width: 1440px;
            margin: 50px auto;
        }
        .cont03 .inner .youtube_1 .youtube{
            width: 100%;
            
            padding-bottom: 56.25%;
            position: relative;
        }
        .cont03 .inner .youtube_1 iframe{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 20px;
        }
        /* footer */
        .footer{
            margin: 0 auto;
            background-color: #2c2a29;
            color: #fff;
            height: 150px;            
    }
        .footer .inner{
            width: 1440px;
            margin: 0 auto;
            height: 100%;
            font-family: 'Noto Sans KR', sans-serif;
            display: flex;
        }
        .footer .inner .title img{
            width: 100px;
            height: 100px;
            vertical-align: middle;
            margin-top: 15px;
        }
        .footer .inner .title{
            display: flex;
        }
        .footer .inner .title div{
            width: 900px;
        }
        .footer .inner .title div .main_title li{
            display: inline-block;
            font-size: 12px;
            padding: 0 20px;
            margin-top: 25px;
            margin-bottom: 10px;
        }
        .footer .inner .title div .sub_title li{
            font-size: 12px;
            margin-top: 10px;
            padding: 0 20px;
        }
        .footer .inner .award{
            width: 300px;
            margin-left: 100px;
            margin-right: 100px;
        }
        .footer .inner .award div span{
            font-size: 12px;
            vertical-align: middle;
            display: inline-block;
            line-height: 1.5;
            margin-left: 15px;
        }
        .footer .inner .award div{
            margin: 30px 10px 0 10px;
        }
        .footer .inner .award div img{
            width: 30px;
            height: 20px;
            vertical-align: middle;   
        }